<div>
    <img src="../../media/images/logo.png" alt="page_logo">
    <p>El entretenimiento es parte esencial de crecer. En este sitio web puedes ver varios ejemplos de buenas
        obras que deberías disfrutar 😊</p>
    <p>Mis redes:</p>
    <nav>
        <a href="https://github.com/GonzaloGSC" target="_blank">
            <i class="icon-github-sign icon-2x"></i>
        </a>
        <a href="https://www.linkedin.com/in/gonzalogsc/" target="_blank">
            <i class="icon-linkedin-sign icon-2x"></i>
        </a>
    </nav>
</div>
<div>
    <p>Recursos e información de estudio:</p>
    <nav>
        <a class="project_link" href="https://github.com/GonzaloGSC/html_css_learning" target="_blank">
            <img class="footer_image_icon" src="../../media/images/icons/html_icon.png" alt="html_icon">
            <img class="footer_image_icon" src="../../media/images/icons/css_icon.png" alt="css_icon">
        </a>
        <a class="project_link" href="https://github.com/GonzaloGSC/javascript_learning" target="_blank">
            <img class="footer_image_icon" src="../../media/images/icons/js_icon.png" alt="js_icon">
        </a>
        <a class="project_link" href="https://github.com/GonzaloGSC/django_learning" target="_blank">
            <img class="footer_image_icon" src="../../media/images/icons/dj_icon.png" alt="dj_icon">
        </a>
    </nav>
</div>
<div>
    <p>Otros proyectos:</p>
    <nav>
        <a class="project_link" href="https://github.com/GonzaloGSC/angular_example" target="_blank">
            <img class="footer_image_icon" src="../../media/images/icons/angular_icon.png" alt="angular_icon">
            <img class="footer_image_icon" src="../../media/images/icons/ts_icon.png" alt="ts_icon">
        </a>
        <a class="project_link" href="https://github.com/GonzaloGSC/react_example" target="_blank">
            <img class="footer_image_icon" src="../../media/images/icons/react_icon.png" alt="react_icon">
            <img class="footer_image_icon" src="../../media/images/icons/js_icon.png" alt="js_icon">
        </a>
        <a class="project_link" href="https://github.com/GonzaloGSC/react_example_typescript" target="_blank">
            <img class="footer_image_icon" src="../../media/images/icons/react_icon.png" alt="react_icon">
            <img class="footer_image_icon" src="../../media/images/icons/ts_icon.png" alt="ts_icon">
        </a>
        <a class="project_link" href="https://github.com/GonzaloGSC/django_example" target="_blank">
            <img class="footer_image_icon" src="../../media/images/icons/dj_icon.png" alt="dj_icon">
        </a>
    </nav>
</div>
<div>
    <p>Información adicional:</p>
    <p>
        Este sitio web ha sido diseñado para mostrar las habilidades del autor en el ámbito del diseño web. Al
        visitar este sitio, podrás ver ejemplos de cómo el autor ha utilizado su creatividad y conocimientos
        técnicos para crear sitios atractivos y fáciles de usar. Este sitio web es full responsive, lo que
        significa que se adapta perfectamente a cualquier dispositivo, ya sea una computadora de escritorio, una
        tableta o un teléfono móvil.
    </p>
</div>
<section class="final_credits">
    <p>Created and Maintained by Gonzalo Salinas.</p>
    <p> Website Code licensed under
        <a class="project_link" href="https://choosealicense.com/licenses/mit/" target="_blank">
            Mit-License
        </a>
    </p>
</section>